* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #11191f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}
.display {
  width: 100%;
  color: aliceblue;
  text-align: end;
  margin-bottom: 40px;
  margin-right: 20px;
  font-size: 50px;
}
.calculator button {
  width: 25%;
  height: 4rem;
}
#is {
  padding-top: 1rem;
  background-color: aquamarine;
  text-align: center;
  width: 25%;
  height: 4rem;
}
